@import '_variables';

.comment-container {
  margin-top: 30px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: size(large);
  margin-bottom: 20px;
  align-items: center;
}

.comments-createComment {
  width: 200px;
  height: 50px;
  display: flex;
  border-radius: $border-radius-circular;
  align-items: center;
  justify-content: center;
  background-color: $background-color-secondary;
  margin-bottom: 15px;
  color: $primary-color;
  font-size: size(big) !important;
  font-weight: bold;
  cursor: pointer;
}

.comments-plus {
  margin-right: 5px;
  font-size: size(medium);
}
