@import '_variables';

.comment-wrapper {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  max-width: 1000px;
  min-height: 100px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
  font-size: large;
  margin-top: 30px;
  align-self: center;
}

.comment-header {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $background-color-secondary;
  font-size: 20px;
  padding: 5px;
  color: $primary-color;
  font-weight: weight(bold);
}

.comment-header p {
  margin: 0 25px;
}

.comment-text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  height: 100%;
}

.comment-time {
  display: flex;
  justify-content: center;
}
