.comment-container {
  margin-top: 30px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: large;
  margin-bottom: 20px;
  align-items: center;
}

.comments-createComment {
  width: 200px;
  height: 50px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #e2dbd3;
  margin-bottom: 15px;
  color: #a99888;
  font-size: 16px !important;
  font-weight: bold;
  cursor: pointer;
}

.comments-plus {
  margin-right: 5px;
  font-size: medium;
}
