/* .post-container {
  background-color: #e2dbd3;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: large;
} */

.comment-wrapper {
  background-color: #f0ece5;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  max-width: 1000px;
  min-height: 100px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
  font-size: large;
  margin-top: 30px;
  align-self: center;
  min-width: 1000px;
  max-width: 1000px;
  min-height: 100px;
}

.comment-header {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e2dbd3;
  font-size: 20px;
  padding: 5px;
  color: #a99888;
  font-weight: bold;
}

.comment-header p {
  margin: 0 25px;
}

.comment-text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f0ece5;
  height: 100%;
}

.comment-time {
  display: flex;
  justify-content: center;
}
