.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e2dbd3;
}
/* #6762a6 */
.login-container .login-window {
  display: flex;
  width: 500px;
  height: 500px;
  background-color: #e2dbd3;
  border: 2px solid #a99888;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 5px 5px #a99888;
}

.login-container .login-window p {
  font-size: 26px;
  padding-bottom: 20px;
  color: #a99888;
  font-weight: bold;
}

.login-inputs {
  width: 75%;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
  color: #a99888;
  font-weight: bold;
}

.login-inputs span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #a99888;
  padding: 6px;
}

.login-inputs input {
  font-size: large;
  margin-left: 6px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #e2dbd3;
}

.login-inputs button {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-buttons span {
  font-size: medium;
  color: #a99888;
  font-weight: bold;
}

.login-buttons span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-button {
  background-color: #a99888;
  color: #e2dbd3;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #e2dbd3;
  color: #a99888;
  border: 2px solid #a99888;
}

/* background-image: -webkit-linear-gradient(top, #654a86, #534292); */
