.posts-container {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.posts-createPost {
  width: 125px;
  height: 40px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  background-color: #e2dbd3;
  margin-bottom: 15px;
  color: #a99888;
  font-weight: bold;
}

.posts-plus {
  margin-right: 5px;
  font-size: medium;
}
