.register-container {
  display: flex;
  width: 100%;
  height: 100vh;
  /* background-color: #654a86; */
  justify-content: center;
  align-items: center;
  background-color: #e2dbd3;
}
/* #6762a6 */
.register-container .register-window {
  display: flex;
  width: 500px;
  height: 600px;
  background-color: #e2dbd3;
  border: 2px solid #a99888;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 5px 5px #a99888;
}

.register-container .register-window p {
  font-size: 26px;
  padding-bottom: 20px;
  color: #a99888;
  font-weight: bold;
}

.register-inputs {
  width: 75%;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
  color: #a99888;
  font-weight: bold;
}

.register-inputs span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #a99888;
  padding: 6px;
}

.register-inputs input {
  font-size: large;
  margin-left: 6px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #e2dbd3;
}

.register-inputs button {
  margin-top: 20px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.register-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.register-buttons p {
  font-size: 14px !important;
  padding-bottom: 0 !important;
  margin-right: 10px;
  font-weight: 400 !important;
}

.register-button-link {
  font-size: medium;
  color: #a99888;
  font-weight: bold;
  border: none;
}

.register-button-link-home {
  align-self: center;
}

.register-button-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.register-button {
  background-color: #a99888;
  color: #e2dbd3;
}

.register-button:hover {
  background-color: #e2dbd3;
  color: #a99888;
  border: 2px solid #a99888;
}

.register-inputs-error {
  font-size: small !important;
  color: #ff6666 !important;
  padding-bottom: 0 !important;
}
