.register-container {
  display: flex;
  width: 100%;
  height: 100vh;
  /* background-color: #654a86; */
  justify-content: center;
  align-items: center;
  background-image: -webkit-linear-gradient(top, #654a86, #534292);
}
/* #6762a6 */
.register-container .register-window {
  display: flex;
  width: 500px;
  height: 600px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
}

.register-container .register-window p {
  font-size: 26px;
  padding-bottom: 20px;
  color: #654a86;
}

.register-inputs {
  width: 75%;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
}

.register-inputs span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid black;
  padding: 6px;
}

.register-inputs input {
  font-size: large;
  margin-left: 6px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}

.register-inputs button {
  margin-top: 20px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.register-buttons span {
  font-size: medium;
}

.register-buttons span:hover {
  text-decoration: underline;
  cursor: pointer;
}
